<div style="padding: 12px;">

  <div class="card">
    <div class="card-header bs-card-header">
      File Upload To Local Folder
    </div>

    <div class="card-body bs-card-body">

      <input type="file" id="FileUpload" (change)="onFileChange($event)" multiple accept=".pdf, .xlsx, .jpg, .png" />

      <p class="text-danger" style="font-weight: 600; margin-top: 6px;">
        Only .jpg, .png, .pdf, & .xlsx files are allowed.
      </p>

      <button type="button" class="btn btn-primary btn-sm btn-upload" (click)="UploadFile()">Upload</button>

      <br /><br/>

      <div class="progress">
        <div class="progress-bar progress-bar-success progress-bar-striped progress-bar-animated" role="progressbar"
          [attr.aria-valuenow]="progress" aria-valuemin="0" aria-valuemax="100"
          [style.width]="(progress/100)*100 + '%'">
          <span *ngIf="progress > 0">{{progress}}%</span>
        </div>
      </div>

      <br />

      <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">File Name</th>
            <th scope="col">File Size</th>
            <th scope="col">Source Path</th>
            <th scope="col">Status Message</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let x of fileStatus">
            <td [ngClass]="{ 'table-success' : x.IsSuccessfull, 'table-danger' : !x.IsSuccessfull }">
              {{x.FileName}}
            </td>
            <td [ngClass]="{ 'table-success' : x.IsSuccessfull, 'table-danger' : !x.IsSuccessfull }">
              {{x.FileSize}}
            </td>
            <td [ngClass]="{ 'table-success' : x.IsSuccessfull, 'table-danger' : !x.IsSuccessfull }">
              <a href="#">{{x.SourcePath}}</a>
            </td>
            <td [ngClass]="{ 'table-success' : x.IsSuccessfull, 'table-danger' : !x.IsSuccessfull }">
              {{x.StatusMessage}}
            </td>
          </tr>
        </tbody>
      </table>

    </div>

    <div class="card-footer text-muted">
      Footer comes here...
    </div>
  </div>

</div>