<app-to-local-folder-fm></app-to-local-folder-fm>

<app-to-database-fm></app-to-database-fm>

<div class="text-center copyright-main-div">
    Developed by <span class="copyright-user-name">Chandan Y S</span>

    <br/>

    <a href="https://imchandanys.wixsite.com/mysite" target="_blank">
        <i class="fa fa-user" aria-hidden="true"></i>
    </a>
    <a href="https://stackoverflow.com/users/10335860/chandan-y-s?tab=profile" target="_blank">
        <i class="fa fa-stack-overflow" aria-hidden="true"></i>
    </a>
    <a href="https://github.com/imchandanys" target="_blank">
        <i class="fa fa-github" aria-hidden="true"></i>
    </a>
    <a href="https://www.instagram.com/imchandanys" target="_blank">
        <i class="fa fa-instagram" aria-hidden="true"></i>
    </a>
    
</div>

<br/>